body{
    padding: 10px;
    margin: auto; 
    font-family: 'Padauk', sans-serif;  
    font-size: 22px; 
}
.section{
    width: 1000px;
    height: 1000px;
     border: 1px solid black;
     border-radius: 4px;
     background-color: gray;
}
.text{
    width: 600px;
    padding:auto;
    display: flex;
    justify-content: center;
}
.boton{
    width: 15%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
h1{
    padding:30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 28px;
}
.buton{
    display: flex;
    justify-content: space-between;

}